<nav class="navegacion-principal clearfix">
  <%= link_to root_path do %>
    <%= "Inicio" %>
  <% end %>
  <%= link_to gallery_path do %>
    <%= "Galeria" %>
  <% end %>
  <%= link_to about_path do %>
    <%= "Nosotros" %>
  <% end %>
  <%= link_to contact_path do %>
    <%= "Contacto" %>
  <% end %>
  
</nav>